/* client/src/styles/Rating.css */

.dark-mode .rating-container {
  color: white;
}

.rating-container {
  display: flex;
}

.star {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.active-star {
  color: #ffc107; /* Gold color for active star */
}



.inactive-star {
  color: #a9a9a9; /* Grey color for inactive star */
}



@media (max-width: 768px) {
  .rating-container .star {
    font-size: 18px;
  }
}
