
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.signin-login-wrapper * {
	box-sizing: border-box;
}

.signin-login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

.signin-login-wrapper h1 {
	font-weight: bold;
	margin: 0;
}
.dark-mode .signin-login-wrapper h1,
.dark-mode .signin-login-wrapper span{
 color:black
}

.signin-login-wrapper h2 {
	text-align: center;
}


.signin-login-wrapper p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.signin-login-wrapper span {
	font-size: 12px;
}

.signin-login-wrapper a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.signin-login-wrapper button {
	border-radius: 20px;
	border: 1px solid #ff2600;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.signin-login-wrapper button:active {
	transform: scale(0.95);
}

.signin-login-wrapper button:focus {
	outline: none;
}

.signin-login-wrapper button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.signin-login-wrapper form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.signin-login-wrapper input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.signin-login-wrapper .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.signin-login-wrapper .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.signin-login-wrapper .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.signin-login-wrapper .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.signin-login-wrapper .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.signin-login-wrapper .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.signin-login-wrapper .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.signin-login-wrapper .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.signin-login-wrapper .overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.signin-login-wrapper .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.signin-login-wrapper .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.signin-login-wrapper .overlay-left {
	transform: translateX(-20%);
}

.signin-login-wrapper .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.signin-login-wrapper .overlay-right {
	right: 0;
	transform: translateX(0);
}

.signin-login-wrapper .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.signin-login-wrapper .social-container {
	margin: 20px 0;
}

.signin-login-wrapper .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.signin-login-wrapper footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

.signin-login-wrapper footer p {
    margin: 10px 0;
}

.signin-login-wrapper footer i {
    color: red;
}

.signin-login-wrapper footer a {
    color: #3c97bf;
    text-decoration: none;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .signin-login-wrapper {
        margin: 0;
        padding: 10px; /* Reduced padding */
    }

    .signin-login-wrapper h1,
    .signin-login-wrapper h2 {
        font-size: 24px;
    }

    .signin-login-wrapper p,
    .signin-login-wrapper span,
    .signin-login-wrapper a,
    .signin-login-wrapper button {
        font-size: 12px;
    }

    .signin-login-wrapper button {
        padding: 10px 30px;
    }

    .signin-login-wrapper input {
        margin: 5px 0;
    }

    .signin-login-wrapper .container {
        width: 100%;
        min-height: 70vh; /* Reduced min-height */
    }

    .signin-login-wrapper form,
    .signin-login-wrapper .overlay-panel {
        padding: 10px; /* Reduced padding */
    }
}
